* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 0;
}

.icon {
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 128px;
  background-image: url(../img/logo.svg);
  background-size: contain;
}

@media screen and (min-width: 1201px) {
  .icon {
    width: 156px;
    height: 156px;
  }
}

@media screen and (min-width: 1601px) {
  .icon {
    width: 192px;
    height: 192px;
  }
}

#svg {
  width: 40px;
  height: 40px;
  padding: 4px 0;
}

@media screen and (min-width: 1201px) {
  #svg {
    width: 48px;
    height: 48px;
    padding: 8px 0;
  }
}

.logofill {
  fill: #ebebeb;
}

.menu_icon_dash {
  fill: #ebebeb;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 100;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  -o-transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s, -webkit-transform .3s;
}

#menu_icon {
  border-radius: 10%;
  width: 40px;
  height: 40px;
  padding: 4px 0;
}

#menu_icon:hover {
  cursor: pointer;
}

#menu_icon:hover .menu_icon_dash {
  fill: #10b0ca;
}

.menuexpanded #dash_top {
  -webkit-transform: translateY(16.75%) translateX(-16.9%) rotate(45deg);
  -ms-transform: translateY(16.75%) translateX(-16.9%) rotate(45deg);
  transform: translateY(16.75%) translateX(-16.9%) rotate(45deg);
}

.menuexpanded #dash_bottom {
  -webkit-transform: translateY(16.75%) translateX(16.9%) rotate(135deg);
  -ms-transform: translateY(16.75%) translateX(16.9%) rotate(135deg);
  transform: translateY(16.75%) translateX(16.9%) rotate(135deg);
}

.menuexpanded #dash_middle {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0;
}

.lost {
  background-image: url(../img/lost.svg) !important;
}

.found {
  background-image: url(../img/found.svg) !important;
}

.cruelty {
  background-image: url(../img/cruelty.svg) !important;
}

.catpaw {
  background-image: url(../img/catpaw.svg) !important;
}

.dogpaw {
  background-image: url(../img/dogpaw.svg) !important;
}

.house {
  background-image: url(../img/house.svg) !important;
}

#mouse {
  width: 48px;
  height: 48px;
}

@media screen and (min-width: 1201px) {
  #mouse {
    width: 64px;
    height: 64px;
  }
}

#arrow_bottom {
  fill: #10b0ca;
  opacity: 0;
  -webkit-animation-name: scrollable;
  animation-name: scrollable;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#arrow_middle {
  fill: #10b0ca;
  opacity: 0;
  -webkit-animation-name: scrollable;
  animation-name: scrollable;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#arrow_top {
  fill: #10b0ca;
  opacity: 0;
  -webkit-animation-name: scrollable;
  animation-name: scrollable;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes scrollable {
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scrollable {
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.arrow {
  cursor: pointer;
  margin: auto auto;
  width: 64px;
  height: 64px;
}

.arrow-arrow {
  fill: #da4453;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

a, p, span, h1, h2, h3, h4, h5, h6, select, option, button, label, figcaption, em, strong, input {
  font-size: 16px;
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-width: 300px;
  background-color: #ebebeb;
}

section {
  display: block;
  width: 100%;
}

article {
  display: block;
  width: calc(100% - 16px);
  margin: 0 8px;
}

h1 {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #10b0ca;
}

h2 {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #10b0ca;
}

h2 a {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #10b0ca;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #10b0ca;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebeb;
}

hr {
  width: 80%;
  height: 2px;
  margin: 0 10%;
  background: #10b0ca;
}

p {
  font-family: "Roboto", sans-serif;
  color: #3b4044;
  line-height: 24px;
  text-indent: 16px;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: color .2s, text-shadow .2s;
  -o-transition: color .2s, text-shadow .2s;
  transition: color .2s, text-shadow .2s;
  color: #10b0ca;
  /*&:link {
		color: $color-main;
	}
	&:visited {
		color: darken($color-main, 10%);
		text-decoration: none;
	}*/
  /*&:focus {
		outline: none;
		text-shadow: 0 0 $basic/2 $color-main;
		color: $color-bg;
	}*/
}

a:hover {
  color: #3b4044;
  text-decoration: none;
}

a:active {
  outline: none;
  text-shadow: 0 0 8px #10b0ca;
  color: #3b4044;
  text-decoration: none;
}

button {
  background: none;
  display: block;
  line-height: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

figure {
  padding: 16px;
  margin: 8px;
  background: #ebebeb;
  border: 1px solid #a0a0a0;
  border-radius: 8px;
}

figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #a0a0a0;
  text-align: left;
  line-height: 24px;
}

figcaption p {
  margin: 0 !important;
}

#wrapper {
  display: table;
}

main, footer {
  display: table-row;
}

main {
  height: 100%;
}

span {
  color: #a0a0a0;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

#header {
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  background-color: #3b4044;
  z-index: 100;
}

@media screen and (min-width: 769px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(59, 64, 68, 0.8);
  }
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 769px) {
  #navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.mobile-hide {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 32px;
  height: 0;
  -webkit-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
  overflow: hidden;
}

@media screen and (min-width: 769px) {
  .mobile-hide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 48px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
  }
}

@media screen and (min-width: 1201px) {
  .mobile-hide {
    height: 64px;
  }
}

#lang {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  height: 48px;
}

@media screen and (min-width: 769px) {
  #lang {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 0 4px;
  }
}

#lang_select {
  height: 32px;
  margin: 8px 0;
  padding: 5px 10px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 1201px) {
  #lang_select {
    margin: 16px 0;
  }
}

#search {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  height: 48px;
}

@media screen and (min-width: 769px) {
  #search {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

#search_input, #search_button {
  display: inline-block;
  padding: 0;
  color: #ebebeb;
  line-height: 32px;
  height: 32px;
  font-size: 16px;
  margin: 8px 0;
}

@media screen and (min-width: 1201px) {
  #search_input, #search_button {
    margin: 16px 0;
  }
}

#search_button {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0 8px;
  background-color: #a0a0a0;
}

#search_input {
  width: calc(100% - 32px);
  color: #3b4044;
}

@media screen and (min-width: 769px) {
  #search_input {
    width: 128px;
  }
}

#mainmenu {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

@media screen and (min-width: 769px) {
  #mainmenu {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    text-align: center;
  }
}

#mainmenu ul {
  display: block;
  padding: 0;
}

#mainmenu li {
  display: block;
}

#mainmenu li a {
  border-bottom: 1px solid #a0a0a0;
}

#mainmenu li:last-child a {
  border-bottom: 1px solid #3b4044;
}

@media screen and (min-width: 769px) {
  #mainmenu li {
    display: inline-block;
  }
  #mainmenu li a {
    border-bottom: none;
  }
  #mainmenu li:last-child a {
    border-bottom: none;
  }
}

#mainmenu a {
  display: block;
  line-height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: left;
}

#mainmenu a:hover {
  background-color: #a0a0a0;
  color: #ebebeb;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  #mainmenu a {
    font-size: 16px;
    padding: 0 8px;
  }
}

@media screen and (min-width: 1201px) {
  #mainmenu a {
    font-size: 24px;
    padding: 0 16px;
    line-height: 64px;
  }
}

.current-menu-item a {
  outline: none;
  text-shadow: 0 0 16px #10b0ca;
  color: #10b0ca;
  text-decoration: none;
}

.mobile-show {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media screen and (min-width: 769px) {
  .mobile-show {
    margin: 0;
    height: 48px;
  }
}

#menu_btn {
  display: block;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

@media screen and (min-width: 769px) {
  #menu_btn {
    display: none;
  }
}

#logo {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#logolink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#logolink:hover * {
  fill: #10b0ca;
  color: #10b0ca;
}

#logosvg {
  width: 44px;
  height: 48px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media screen and (min-width: 1201px) {
  #logosvg {
    width: 48px;
    height: 64px;
  }
}

#logoname {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.logoname {
  display: inline-block;
  line-height: 48px;
  font-family: "Cormorant Infant", serif;
  font-size: 32px;
  color: #ebebeb;
  white-space: nowrap;
}

@media screen and (min-width: 1201px) {
  .logoname {
    line-height: 64px;
  }
}

@media screen and (min-width: 1601px) {
  .logoname {
    font-size: 40px;
  }
}

#main {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#topper {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 769px) {
  #topper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    background-image: url(../img/topperbg1440.jpg);
  }
}

@media screen and (min-width: 1201px) {
  #topper {
    height: 100vh;
  }
}

@media screen and (min-width: 1441px) {
  #topper {
    background-image: url(../img/topperbg1920.jpg);
  }
}

@media screen and (min-width: 1921px) {
  #topper {
    background-image: url(../img/topperbg4k.jpg);
  }
}

@media screen and (min-width: 769px) {
  #topper .about-shelter {
    background: rgba(59, 64, 68, 0.8);
    border-top: 4px solid #10b0ca;
    border-bottom: 4px solid #10b0ca;
    -webkit-box-shadow: 0 16px 32px rgba(59, 64, 68, 0.5);
    box-shadow: 0 16px 32px rgba(59, 64, 68, 0.5);
    margin: auto auto;
  }
}

#logo-big {
  display: none;
}

@media screen and (min-width: 589px) {
  #logo-big {
    display: block;
    min-width: 192px;
  }
}

@media screen and (min-width: 1201px) {
  #logo-big {
    min-width: 240px;
  }
}

@media screen and (min-width: 1201px) {
  #logo-big {
    min-width: 288px;
  }
}

.logo-big {
  fill: #10b0ca;
}

#about-us {
  margin: 32px;
}

@media screen and (min-width: 589px) {
  #about-us {
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

#heading-logo {
  text-align: center;
  font-size: 48px;
  line-height: 64px;
}

@media screen and (min-width: 589px) {
  #heading-logo {
    text-align: left;
    margin: 8px;
  }
}

@media screen and (min-width: 589px) {
  .hr-heading {
    margin: 0;
    margin-left: 8px;
  }
}

.subheading {
  display: block;
  margin: 8px auto;
  color: #3b4044;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

@media screen and (min-width: 589px) {
  .subheading {
    text-align: left;
    margin: 8px;
  }
}

@media screen and (min-width: 769px) {
  .subheading {
    color: #ebebeb;
  }
}

.motto {
  font-family: "Roboto", sans-serif;
  color: #a0a0a0;
  margin: 8px;
}

.bottom-bar {
  height: 48px;
  background-color: #a0a0a0;
}

@media screen and (min-width: 769px) {
  .bottom-bar {
    position: absolute;
    left: 0;
    top: calc(100vh - 48px);
    background-color: rgba(59, 64, 68, 0.8);
    width: 100% !important;
    z-index: 2;
  }
}

@media screen and (min-width: 1201px) {
  .bottom-bar {
    height: 64px;
    top: calc(100vh - 64px);
  }
}

.bot-left, .bot-right {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.bot-left {
  text-align: left;
}

.bot-middle {
  display: none;
}

@media screen and (min-width: 769px) {
  .bot-middle {
    display: block;
    width: 48px;
  }
}

@media screen and (min-width: 1201px) {
  .bot-middle {
    width: 64px;
  }
}

@media screen and (min-width: 769px) {
  #feedback {
    padding: 48px 0;
  }
}

@media screen and (min-width: 769px) {
  #urgent {
    padding: 48px 0;
  }
}

.bg-urgent {
  color: #a0a0a0;
}

.bg-urgent span {
  color: #da4453;
}

.bg-urgent h2 {
  color: #da4453;
}

.bg-urgent p {
  color: #a0a0a0;
}

.urgent-btn {
  display: block;
  margin: 16px auto;
  background: #da4453;
  color: #ebebeb;
  line-height: 16px;
  padding: 8px 32px;
  border-radius: 4px;
}

.urgent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.urgent-center {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.urgent-left, .urgent-right {
  -ms-flex-preferred-size: 64px;
  flex-basis: 64px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.urgent-post_carousel {
  position: relative;
}

.urgent-post_img {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background: #a0a0a0;
}

@media screen and (min-width: 769px) {
  .urgent-post_img {
    padding-bottom: 75%;
  }
}

@media screen and (min-width: 1201px) {
  .urgent-post_img {
    padding-bottom: 56.25%;
  }
}

.image-inside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/cat-shake-hands.jpg);
  background-size: cover;
  background-position: center center;
}

#charity {
  background-color: #3b4044;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 769px) {
  #charity {
    background-image: url(../img/charitybg1440.jpg);
    padding: 48px 0;
  }
}

@media screen and (min-width: 1441px) {
  #charity {
    background-image: url(../img/charitybg1920.jpg);
  }
}

@media screen and (min-width: 1921px) {
  #charity {
    background-image: url(../img/charitybg4k.jpg);
  }
}

#charity .pad {
  display: block;
}

@media screen and (min-width: 769px) {
  #charity .pad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(59, 64, 68, 0.8);
    border-top: 4px solid #10b0ca;
    border-bottom: 4px solid #10b0ca;
    -webkit-box-shadow: 0 16px 32px rgba(59, 64, 68, 0.5);
    box-shadow: 0 16px 32px rgba(59, 64, 68, 0.5);
  }
}

.charity-btn {
  display: block;
  margin: 16px auto;
  background: #10b0ca;
  color: #ebebeb;
  line-height: 16px;
  padding: 8px 32px;
  border-radius: 4px;
}

.list-enchanced_item {
  padding: 8px;
}

@media screen and (min-width: 769px) {
  .list-enchanced_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.description {
  border-bottom: 4px solid #10b0ca;
}

@media screen and (min-width: 769px) {
  .description {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

@media screen and (min-width: 769px) {
  #map {
    padding: 48px 0;
  }
}

.map-container {
  width: 100%;
  height: 80vh;
  background-image: url(../img/mappa.jpg);
  background-size: cover;
  background-position: center center;
}

#footer {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

#firs {
  background-color: #ebebeb;
  padding-bottom: 112px;
  background-image: url(../img/firs.svg);
  background-size: auto 96px;
  background-position: center bottom;
  background-repeat: repeat-x;
}

@media screen and (min-width: 769px) {
  #firs {
    background-size: auto 192px;
    padding-bottom: 224px;
  }
}

@media screen and (min-width: 1201px) {
  #firs {
    background-size: auto 256px;
    padding-bottom: 288px;
  }
}

#req {
  background-color: #3b4044;
}

#modal {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

#modal-window {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  background: #ebebeb;
}

@media screen and (min-width: 721px) {
  #modal-window {
    width: 720px;
    height: auto;
    max-height: 80vh;
    left: 50%;
    top: 50%;
    -webkit-transform: translatex(-50%) translatey(-50%);
    -ms-transform: translatex(-50%) translatey(-50%);
    transform: translatex(-50%) translatey(-50%);
  }
}

.section-heading {
  text-align: center;
  font-size: 48px;
  line-height: 96px;
}

.container {
  width: calc(100% - 16px);
  margin: 0 auto;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .container {
    width: 745px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .container {
    width: 960px;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .container {
    width: 1420px;
  }
}

@media screen and (min-width: 1921px) {
  .container {
    width: 1600px;
  }
}

.fluid {
  display: block;
}

@media screen and (min-width: 589px) {
  .fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0 auto;
  }
}

.fluid-item {
  display: block;
  text-align: center;
  width: 240px;
  margin: 0 auto;
  padding-bottom: 32px;
  overflow-wrap: break-word;
}

@media screen and (min-width: 481px) {
  .fluid-item {
    width: 320px;
  }
}

@media screen and (min-width: 589px) {
  .fluid-item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-preferred-size: 180px;
    flex-basis: 180px;
    margin: 0 8px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

@media screen and (min-width: 769px) {
  .fluid-item {
    margin: 0;
    padding: 32px 8px;
  }
}

.smplst {
  list-style-type: none;
}

.smplst li {
  text-align: left;
}

.smplst a {
  line-height: 40px;
}

@media screen and (min-width: 769px) {
  .smplst a {
    line-height: 24px;
  }
}

.lnkout li {
  text-align: left;
}

.lnkout a {
  line-height: 40px;
}

@media screen and (min-width: 769px) {
  .lnkout a {
    line-height: 24px;
  }
}

.lnkout a::after {
  content: "\f08e";
  font-family: FontAwesome;
  padding: 0 4px;
  font-size: 12px;
  vertical-align: top;
}

.requisits span {
  display: block;
  text-align: left;
}

.line {
  display: block;
  text-align: left;
  line-height: 24px;
}

.tag {
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  padding: 4px 8px;
  margin: 0 2px;
  background-color: #a0a0a0;
  color: #ebebeb;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  margin: 4px;
  margin-bottom: 8px;
  background-color: rgba(233, 234, 236, 0.3);
  color: #10b0ca;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #a0a0a0;
  line-height: 32px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}

.btn:hover {
  background-color: #bababa;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #ebebeb;
}

.btn:active {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #878787;
  color: #ebebeb;
}

.btn-primary {
  background-color: rgba(31, 57, 72, 0.3);
  color: #1f3948;
  -webkit-box-shadow: 0 4px 4px rgba(31, 57, 72, 0.2);
  box-shadow: 0 4px 4px rgba(31, 57, 72, 0.2);
  border-color: #3b4044;
}

.btn-primary:hover {
  background-color: #1f3948;
  color: #ebebeb;
  -webkit-box-shadow: 0 4px 6px rgba(18, 126, 155, 0.4);
  box-shadow: 0 4px 6px rgba(18, 126, 155, 0.4);
}

.btn-primary:active {
  background-color: #101d24;
  color: #ebebeb;
  -webkit-box-shadow: 0 2px 6px rgba(18, 126, 155, 0.4);
  box-shadow: 0 2px 6px rgba(18, 126, 155, 0.4);
}

.btn-danger {
  background-color: rgba(153, 0, 0, 0.3);
  color: #da4453;
  border-color: #da4453;
  -webkit-box-shadow: 0 4px 4px rgba(153, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(153, 0, 0, 0.2);
}

.btn-danger:hover {
  background-color: #e26f7a;
  color: #ebebeb;
  -webkit-box-shadow: 0 4px 6px rgba(153, 0, 0, 0.4);
  box-shadow: 0 4px 6px rgba(153, 0, 0, 0.4);
}

.btn-danger:active {
  background-color: #c42737;
  color: #ebebeb;
  -webkit-box-shadow: 0 2px 6px rgba(153, 0, 0, 0.4);
  box-shadow: 0 2px 6px rgba(153, 0, 0, 0.4);
}

.btn-info {
  background-color: rgba(18, 126, 155, 0.3);
  color: #10b0ca;
  border-color: #10b0ca;
  -webkit-box-shadow: 0 4px 4px rgba(18, 126, 155, 0.2);
  box-shadow: 0 4px 4px rgba(18, 126, 155, 0.2);
  cursor: help;
}

.btn-info:hover {
  background-color: #20d1ed;
  color: #ebebeb;
  -webkit-box-shadow: 0 4px 6px rgba(18, 126, 155, 0.4);
  box-shadow: 0 4px 6px rgba(18, 126, 155, 0.4);
}

.btn-info:active {
  background-color: #0c879b;
  color: #ebebeb;
  -webkit-box-shadow: 0 2px 6px rgba(18, 126, 155, 0.4);
  box-shadow: 0 2px 6px rgba(18, 126, 155, 0.4);
}

.btn-success {
  background-color: rgba(0, 132, 15, 0.3);
  color: #00840f;
  border-color: #00840f;
  -webkit-box-shadow: 0 4px 4px rgba(0, 132, 15, 0.2);
  box-shadow: 0 4px 4px rgba(0, 132, 15, 0.2);
}

.btn-success:hover {
  background-color: #00b715;
  color: #ebebeb;
  -webkit-box-shadow: 0 4px 6px rgba(0, 132, 15, 0.4);
  box-shadow: 0 4px 6px rgba(0, 132, 15, 0.4);
}

.btn-success:active {
  background-color: #005109;
  color: #ebebeb;
  -webkit-box-shadow: 0 2px 6px rgba(0, 132, 15, 0.4);
  box-shadow: 0 2px 6px rgba(0, 132, 15, 0.4);
}

.btn-attention {
  background-color: rgba(220, 140, 0, 0.3);
  color: #dc8c00;
  border-color: #dc8c00;
  -webkit-box-shadow: 0 4px 4px rgba(220, 140, 0, 0.2);
  box-shadow: 0 4px 4px rgba(220, 140, 0, 0.2);
}

.btn-attention:hover {
  background-color: #ffa810;
  color: #ebebeb;
  -webkit-box-shadow: 0 4px 6px rgba(220, 140, 0, 0.4);
  box-shadow: 0 4px 6px rgba(220, 140, 0, 0.4);
}

.btn-attention:active {
  background-color: #a96c00;
  color: #ebebeb;
  -webkit-box-shadow: 0 2px 6px rgba(220, 140, 0, 0.4);
  box-shadow: 0 2px 6px rgba(220, 140, 0, 0.4);
}

.btn-disabled {
  background-color: rgba(233, 234, 236, 0.5);
  color: #a0a0a0;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.btn-disabled:hover, .btn-disabled:active {
  background-color: rgba(233, 234, 236, 0.5);
  color: #a0a0a0;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.img-article {
  width: calc(100% - 24px);
  margin: 12px;
}

.thumb {
  width: calc(100% - 24px);
  margin: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: white;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.thumb-320 {
  width: 288px;
}

.detailed {
  display: block;
  background-color: #dedede;
}

.detailed span {
  display: inline-block;
  vertical-align: top;
  padding: 4px 8px;
  color: #a0a0a0;
}

@media screen and (min-width: 769px) {
  #pagetop {
    background-color: #dedede;
  }
}

.pagetitle {
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .pagetitle {
    text-align: left;
    font-size: 64px;
    line-height: 96px;
    padding-top: 96px;
  }
}

.subheading {
  text-indent: 0;
  color: #a0a0a0;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 16px;
}

@media screen and (min-width: 589px) {
  .subheading {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 769px) {
  .subheading {
    font-size: 24px;
    text-align: left;
  }
}

.metabox {
  display: none;
}

@media screen and (min-width: 589px) {
  .metabox {
    display: inline-block;
    vertical-align: top;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }
}

.metabox a {
  color: #0c879b;
}

.metabox-spacer {
  display: none;
}

@media screen and (min-width: 589px) {
  .metabox-spacer {
    display: inline-block;
    vertical-align: top;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 32px;
  }
}

.metabox-home, .metabox-main {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 32px;
}

.metabox-home {
  color: #ebebeb !important;
  background-color: #10b0ca;
}

.metabox-main {
  color: #ebebeb;
  background-color: #a0a0a0;
}

#content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

aside {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -ms-flex-preferred-size: 180px;
  flex-basis: 180px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.content-posts {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.page-navigation {
  margin-bottom: 16px;
  margin-left: 16px;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.page-navigation-home, .page-navigation-box li a {
  display: block;
  padding: 8px 16px;
  color: #ebebeb;
}

.page-navigation-home {
  background-color: #10b0ca;
}

.page-navigation-box li a {
  text-indent: 16px;
  background-color: #a0a0a0;
  border-bottom: 1px solid #bababa;
}

.page-navigation-box li a:hover {
  background-color: #878787;
}

.page-navigation-box li.current_page_item a {
  background-color: #878787;
  position: relative;
}

.page-navigation-box li.current_page_item a::before {
  position: absolute;
  left: 4px;
  font-family: FontAwesome;
  content: "\f0da";
}

.pagination {
  display: block;
  text-align: center;
  margin-top: 16px;
  padding-top: 8px;
  border-top: 1px dashed #d2d2d2;
}

.post-item {
  border: 1px solid #dedede;
  border-radius: 8px;
  margin: 16px 0;
  overflow: hidden;
}

.foster {
  padding: 8px;
  border: 1px solid lightgray;
  background-color: #e6e6e6;
  border-radius: 16px;
  margin-bottom: 16px;
}

.foster-container {
  display: block;
}

@media screen and (min-width: 769px) {
  .foster-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.foster-left {
  -ms-flex-preferred-size: 240px;
  flex-basis: 240px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: relative;
  overflow: hidden;
}

.foster-right {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.foster-img {
  height: 240px;
  border-radius: 8px;
  background-image: url(../img/cat-shake-hands.jpg);
  background-position: center;
  background-size: cover;
}

.foster-name {
  margin-left: 8px;
  font-size: 40px;
  line-height: 56px;
}

.foster-info {
  margin-left: 8px;
}

.foster-bottom {
  text-align: right;
  border-top: 1px solid lightgray;
  padding-top: 8px;
  margin-left: 8px;
}

.foster-history, .foster-history-full {
  font-family: "Roboto", sans-serif;
  margin: 16px 8px 0 8px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.noscroll {
  overflow-y: hidden;
}

.scroll {
  overflow-y: auto;
}

.menuheight {
  height: 292px;
}

.bg-dark {
  background-color: #3b4044;
  color: #a0a0a0;
}

.bg-dark span {
  color: #ebebeb;
}

.bg-dark h3 {
  color: #ebebeb;
}

.bg-dark p {
  color: #a0a0a0;
}

.bg-light {
  background-color: #ebebeb;
  color: #a0a0a0;
}

.bg-light span {
  color: #3b4044;
}

.bg-light h3 {
  color: #3b4044;
}

.bg-light p {
  color: #a0a0a0;
}

.hidden {
  display: none;
}

.page-numbers {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 4px;
  border: 1px solid #10b0ca;
}

.current {
  color: #ebebeb;
  background-color: #10b0ca;
  border: 1px solid #10b0ca;
}
