#topper {
	display: block;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	@media screen and (min-width: 769px) {
		display: flex;
		height: calc(100vh - 48px);
		background-image: url(../img/topperbg1440.jpg);
	}
	@media screen and (min-width: 1201px) {
		height: calc(100vh - 64px);
	}
	@media screen and (min-width: 1441px) {
		background-image: url(../img/topperbg1920.jpg);
	}
	@media screen and (min-width: 1921px) {
		background-image: url(../img/topperbg4k.jpg);
	}
}

#topper .about-shelter {	
	//display: block;
	@media screen and (min-width: 769px) {
		//margin: $basic * 5 auto;
		background: rgba(59,64,68,.8);
		border-top: $basic / 4 solid $color-main;
		border-bottom: $basic / 4 solid $color-main;
		box-shadow: 0 $basic $basic * 2 rgba(59,64,68,.5);
		margin: auto auto;
	}
}

#logo-big {
	//outline: 1px dotted red;
	display: none;
	@media screen and (min-width: 589px) {
		display: block;
		min-width: $basic * 12;
		//background-color: $color-main;
	}
	@media screen and (min-width: 1201px) {
		min-width: $basic * 15;
	}
	@media screen and (min-width: 1201px) {
		min-width: $basic * 18;
	}
}
.logo-big {
	fill: $color-main;
}

#about-us {
	//outline: 1px dotted green;
	margin: $basic * 2;
	@media screen and (min-width: 589px) {
		margin: 0;
		flex-grow: 1;
	}
}

#heading-logo {
	text-align: center;
	font-size: $basic * 3;
	line-height: $basic * 4;
	//outline: 1px solid yellow;
	@media screen and (min-width: 589px) {
		text-align: left;
		margin: $basic / 2;
	}
}

.hr-heading {
	@media screen and (min-width: 589px) {
		margin: 0;
		margin-left: $basic / 2;
	}
}

span.subheading {
	display: block;
	margin:  $basic / 2 auto;
	color: $color-dark;
	font-family: $font-regular;
	text-align: center;
	padding-bottom: 0;
	@media screen and (min-width: 589px) {
		text-align: left;
		margin: $basic / 2;
	}
	@media screen and (min-width: 769px) {
		color: $color-bg;
	}
}



.motto {
	font-family: $font-regular;
	color: $color-neutral;
	margin: $basic / 2;
}

.bottom-bar {
	height: $basic * 3;
	background-color: $color-neutral;
	@media screen and (min-width: 769px) {
		position: absolute;
		left: 0;
		top: calc(100vh - 48px);
		background-color: rgba(59,64,68,.8);
		width: 100% !important;
		z-index: 2; // under the menu
	}
	@media screen and (min-width: 1201px) {
		height: $basic * 4;
		top: calc(100vh - 64px);
	}
	
}
.bot-left, .bot-right {
	flex-grow: 1;
	text-align: right;
	//outline: $test;
}
.bot-left {
	text-align: left;
}
.bot-middle {
	display: none;
	@media screen and (min-width: 769px) {
		display: block;
		width: $basic * 3;
	}
	@media screen and (min-width: 1201px) {
		width: $basic * 4;
	}
}
