head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+Infant:400,700|Roboto:400,700&amp;subset=cyrillic-ext,latin-ext")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="http://l-lin.github.io/font-awesome-animation/dist/font-awesome-animation.min.css")
	link(rel="stylesheet" href="css/styles.css")
	title Volunteer animal shelter in Visaginas, Lithuania | Padėk man