<!DOCTYPE html>
//- defLang="ru"
html(lang="en") 
	include head
	body
		include mixins
		#wrapper
			include header
			main#main
				include pagetop
				section#content
					.container
						.metabox
							a(href="#").metabox-home #[i(aria-hidden="true").fa.fa-home] Back to Home
							span.metabox-main Our fosterlings
						#content-box
							//- aside
							//- 	.page-navigation
							.content-posts
								.fosterling
									.fosterling-teaser
										.fosterling-img
											img(src="https://github.com/Skidan/padekman/img/cat-shake-hands.jpg", alt="pug")
											.fosterling-data
												span #[i(aria-hidden="true").fa.fa-paw]
												span #[i(aria-hidden="true").fa.fa-venus]
												span 2y3mo
										.fosterling-info
											h3.fosterling-name Lucy
											p.fosterling-story Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, beatae neque architecto esse nisi repellendus dolorum harum veritatis?
											.fosterling-options
												hr.long.regular
												button(type="button" onclick="this.parentElement.parentElement.parentElement.nextSibling.nextSibling.classList.toggle('hide')").btn Ask a question
												a(href="#").btn.btn-primary More about Lucy &raquo;
									.fosterling-contact.hide
										p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda tempora culpa voluptates illo laboriosam expedita pariatur velit officiis odio quae ab labore quia accusantium eaque dolorem, corrupti ducimus nam eum!
			include footer
			//- #modal
			//- 	#modal-window
			//- 		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quis!
		include scripts