<!DOCTYPE html>
//- defLang="ru"
html(lang="en") 
	include head
	body
		include mixins
		#wrapper
			include header
			main#main
				include pagetop
				section#content
					.container
						.metabox
							a(href="#").metabox-home #[i(aria-hidden="true").fa.fa-home] Back to Home
							span.metabox-main Our fosterlings
						#content-box
							//- aside
							//- 	.page-navigation
							.content-posts
								.fosterling
									.fosterling-teaser
										a(href="#" target="_self").fosterling-img
											img(src="https://github.com/Skidan/padekman/blob/master/img/cat-shake-hands.jpg?raw=true", alt="pug")
											.fosterling-data
												span #[i(aria-hidden="true").fa.fa-paw]
												span #[i(aria-hidden="true").fa.fa-venus]
												span 2y3mo
										.fosterling-info
											h3.fosterling-name Lucy
											p.fosterling-story Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, beatae neque architecto esse nisi repellendus dolorum harum veritatis?
											.fosterling-options
												hr
												button(type="button" onclick="this.parentElement.parentElement.parentElement.nextSibling.nextSibling.classList.toggle('hidden')").btn Ask a question
												a(href="#").btn.btn-primary More about Lucy &raquo;
									.fosterling-contact.hidden
										h4.fosterling-contacts-heading Contact us:
										hr
										h5.fosterling-contacts-heading By phone:
										.contact-option
											.contact-option-left
												span tel. (RU/LT):
											.contact-option-right
												span +370 67 615 359
										h5.fosterling-contacts-heading By e-mail:
										.contact-option
											.contact-option-left
												span leave your e-mail address and your question (RU/EN/LT)
											.contact-option-right
												input(type="email" size="30" placeholder="the.user@email.com" required)
												textarea(rows="4" placeholder="your message (400 words max)...")
												button(type="button" required).btn Send email &raquo;
										h5.fosterling-contacts-heading Leave a comment:
										.contact-option
											.contact-option-left
												span leave your comment (it will be shown after moderation) (RU/EN/LT)
											.contact-option-right
												input(type="text" size="30" placeholder="Nickname" required)
												textarea(rows="4" placeholder="your message (400 words max)...")
												button(type="button" required).btn Leave comment
								//- New type of fosterling-archive block
								article.fosterling-new
									.fosterling-img-container
										.img-container
											img(src="#" alt="kitty")
									.fosterling-data
										h2.fosterling-name Mercey
										.fosterlings-params
										.fosterling-excerpt
											p.excerpt Young cat is waiting for your attention
									.fosterling-text-more
										p.content-crop Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempora ut, sed eos in ipsam? Doloremque commodi ducimus officiis deleniti distinctio, nam ratione, consequatur praesentium expedita quaerat doloribus nisi cumque quae natus ullam! Temporibus amet earum deserunt corporis error nostrum.
										a(href="#" terget="_self").btn.btn-primary Continue reading &raquo;
								//- Fosterling-block end

			include footer
			//- #modal
			//- 	#modal-window
			//- 		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quis!
		include scripts