<!DOCTYPE html>
//- defLang="ru"
html(lang="en") 
	include head
	body
		include mixins
		#wrapper
			include header
			main#main
				include pagetop
				section#content
					.container
						.metabox
							a(href="#").metabox-home #[i(aria-hidden="true").fa.fa-home] Back to Home
							span.metabox-main Our fosterlings
						#content-box
							aside
								.page-navigation
							.content-posts
								.foster
										.foster-container
											.foster-left
												.foster-img
											.foster-right
												h3.foster-name Lucy
												.foster-info
													span.tag type: dog
													span.tag age: 5y 3mo
													span.tag sex: female
												p.foster-history Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore a numquam sunt ad fugiat facere aliquid assumenda placeat natus aspernatur nam ex quisquam mollitia cum, incidunt consequatur quaerat porro quod adipisci ullam enim veniam rem quae quibusdam! Voluptas natus id et. Dolor, quas iure sequi tempora et natus reiciendis optio.
												.foster-bottom
													button(type="button").btn.add-comment Contact us
													button(type="button").btn.btn-primary More about pet &raquo;
			include footer
			//- #modal
			//- 	#modal-window
			//- 		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quis!
		include scripts