<!DOCTYPE html>
//- defLang="ru"
html(lang="en") 
	include head
	body
		include mixins
		#wrapper
			include header
			main#main
				include pagetop
				section#content
					.container
						.metabox
							a(href="#").metabox-home #[i(aria-hidden="true").fa.fa-home] Back to Home
							span.metabox-main Our fosterlings
						#content-box
							aside
								.page-navigation
							.content-posts
								.foster
									.foster-container
										.foster-left
											.foster-img
										.foster-right
											h3.foster-name Mercie
											.foster-info
												span.tag type: cat
												span.tag age: 2y 8mo
												span.tag sex: female
											p.foster-history Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas id sint nemo vitae nam eaque quis repudiandae, reiciendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. In laborum molestias, odit earum similique nostrum sed quibusdam ducimus aliquam distinctio! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique ipsum tempore vel maxime minus laborum dolorem nobis accusamus perspiciatis at.
											.foster-bottom
												button(type="button").btn Contact us
												button(type="button").btn.btn-primary More about pet &raquo;
			include footer
			//- #modal
			//- 	#modal-window
			//- 		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quis!
		include scripts