section#charity.bg-dark
	h2.section-heading Charity
	.container.fluid
		a.fluid-item(href="##")
			+icon("catpaw")
			h3 Cats
			p Lorem ipsum dolor sit amet consectetur 
		a.fluid-item(href="####")
			+icon("dogpaw")
			h3 Dogs
			p Lorem ipsum dolor sit amet consectetur 
		a.fluid-item(href="######")
			+icon("house")
			h3 Buildings / constructing
			p Lorem ipsum dolor sit amet consectetur 