section#charity.bg-dark
	h2.section-heading Charity
	.container.pad
		.list-enchanced_item
			p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat ratione qui maiores dolores aliquid atque expedita unde quaerat quos rerum.
		.list-enchanced_item
			.picture
				+icon("catpaw")
			.description
				h3 Cats
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure illo voluptatem suscipit. Consequuntur laudantium asperiores accusamus adipisci debitis at quo, corporis illum perferendis, ut nesciunt praesentium eum ipsam repudiandae officiis laboriosam cum possimus nihil mollitia.
		.list-enchanced_item
			.picture
				+icon("dogpaw")
			.description
				h3 Dogs
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem explicabo blanditiis tenetur, ex repudiandae veniam, tempore placeat fuga temporibus culpa optio, doloribus dolore ad minima ea nemo debitis expedita? In sit nisi hic. Earum ex ipsa sint rerum et porro officiis doloribus! 
		.list-enchanced_item
			.picture
				+icon("house")
			.description
				h3 Buildings / constructing
				p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet debitis exercitationem voluptate culpa repellendus soluta similique officia aut!
		.list-enchanced_item
			button(type="button").charity-btn #[i().fa.fa-file-text] Inspect donation reports