section#feedback.bg-dark
	h2.section-heading Feedback
	.container.fluid
		a.fluid-item(href="##")
			+icon("lost")
			h3 Lost pets
			p Lorem ipsum dolor sit amet consectetur 
		a.fluid-item(href="####")
			+icon("found")
			h3 Found pets
			p Lorem ipsum dolor sit amet consectetur 
		a.fluid-item(href="######")
			+icon("cruelty")
			h3 Cruelty
			p Lorem ipsum dolor sit amet consectetur