footer#footer
	section#firs
		//- include firs
	section#req
		.container.fluid
			.fluid-item.friends.lnkout
				h4 Our friends
				ul.smplst
					li
						a(href="#########" target="_blank") Visagino Energija
					li
						a(href="#############" target="_blank") Visagino Linija
					li
						a(href="###############" target="_blank") Visagino savivaldybe
					li
						a(href="##############" target="_blank") IAE
			.fluid-item.links.lnkout
				h4 We in socials
				ul.smplst
					li
						a(href="#########" target="_blank") Facebook
					li
						a(href="#############" target="_blank") Youtube
					li
						a(href="###############" target="_blank") Vkontakte
					li
						a(href="##############" target="_blank") LinkedIn

			.fluid-item.requisits
				h4 Contact us:
				span.block
					strong Shelter
				span.block
					em Jakas str., Visagino sav.
				span.block
					em +370 568 457 89
				span.block
					strong Store
				span.block
					em Vilties str., 1, Visaginas, LT-3111545645654646546465465464
				span.block
					em +370 568 745 82