footer#footer
	section#firs
		//- include firs
	section#req
		.container.fluid
			.fluid-item.friends.lnkout
				h4 Our friends
				ul.smplst
					li
						a(href="#" target="_self") Visagino Energija
					li
						a(href="#" target="_self") Visagino Linija
					li
						a(href="#" target="_self") Visagino savivaldybe
					li
						a(href="#" target="_self") IAE
			.fluid-item.links.lnkout
				h4 We in socials
				ul.smplst
					li
						a(href="//www.facebook.com/VšĮ-Padėk-man-122585981600936/" target="_blank") Facebook
					li
						a(href="#" target="_self") Youtube
					li
						a(href="#" target="_self") Vkontakte
					li
						a(href="#" target="_self") LinkedIn

			.fluid-item.requisits
				h4 Contact us:
				span.block
					strong Shelter
				span.block
					em Karlu str., Karlos LT-31217.
				span.block
					em +370 67615359
				span.block
					strong Store
				span.block
					em Vilties str., 3, Visaginas, LT-31118
				span.block
					em +370 67615359