section#last-found.bg-dark
		
	h2.section-heading Last incoming
	.container.fluid

		a.fluid-item.last-found-animal(href="#")
			span.found-time 2018-05-13
			span.found-place 3 rajonas, prie Maximos
		
		a.fluid-item.last-found-animal(href="#")
			span.found-time 2018-05-13
			span.found-place 3 rajonas, prie Maximos
		
		a.fluid-item.last-found-animal(href="#")
			span.found-time 2018-05-13
			span.found-place 3 rajonas, prie Maximos