section#last-found.bg-dark
		
	h2.section-heading Last incoming
	.container.fluid

		.fluid-item.last-found-animal
			a.post-teaser(href="#" style="background:url(../uploads/kot2.jpg) center center; background-repeat:no-repeat; background-size:cover;")
				.post-teaser--info
					span.show-more-info Show more info...
					span.found-date 2018-05-13
					span.found-place 3 rajonas, prie Maximos
		
		.fluid-item.last-found-animal
			a.post-teaser(href="#" style="background:url(../uploads/IMG_3823_opt.jpg) center center; background-repeat:no-repeat; background-size:cover;")
				.post-teaser--info
					span.show-more-info Show more info...
					span.found-date 2018-05-13
					span.found-place 3 rajonas, prie Maximos
		
		.fluid-item.last-found-animal
			a.post-teaser(href="#" style="background:url(../uploads/koshka1foto.jpg) center center; background-repeat:no-repeat; background-size:cover;")
				.post-teaser--info
					span.show-more-info Show more info...
					span.found-date 2018-05-13
					span.found-place 3 rajonas, prie kurwa motorizowana
	.container.subactions
		//- hr.long
		a(href="#").btn.btn-primary watch all fosterlings &raquo;
		hr.long