<!DOCTYPE html>
html(lang="en")
	include head
	body
		include mixins
		#wrapper
			include header
			main#main
				include pagetop
				section#content
					.container
						.metabox
							a(href="#").metabox-home #[i(aria-hidden="true").fa.fa-home] Back to Home
							span.metabox-main Our History
						#content-box
							aside.page-navigation
								a(href="#").page-navigation-home  #[i(aria-hidden="true").fa.fa-chevron-circle-down] About us
								ul.page-navigation-box
									li
										a(href="##") Our History
									li
										a(href="####") Our Faces
									li
										a(href="##") Our Goals
									li
										a(href="######") Privacy Policy
									
							.content-posts
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi numquam fugiat, doloribus, nemo non quod, totam eos error iure eius impedit vero! Vel ipsam velit numquam illo alias facilis, libero necessitatibus quidem, perferendis temporibus a soluta. Esse veniam ullam, molestias quidem, unde, eius deleniti reiciendis laudantium tenetur architecto incidunt dicta!
							

			include footer
			//- #modal
			//- 	#modal-window
			//- 		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quis!
		include scripts