section#pagetop
	.container
		h1.pagetitle Page title
		p.subheading Write description here
section#content
	.container
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptates modi tempora perferendis eius, ad tenetur pariatur fugit velit quae quibusdam facere nobis exercitationem illo ratione, iure cumque, explicabo vero! Beatae facere nisi, facilis minus corporis atque. Neque illum in perspiciatis libero assumenda fuga accusamus?