svg(xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 10000 10000")#arrow-right.arrow
	path(d="M5000 1000c2209,0 4000,1791 4000,4000 0,2209 -1791,4000 -4000,4000 -2209,0 -4000,-1791 -4000,-4000 0,-2209 1791,-4000 4000,-4000z").arrow-circle
	path(d="M5460 5000l-2263 -2263c-117,-117 -117,-307 0,-424l354 -354c117,-117 307,-117 424,0l2828 2828c117,117 117,307 0,424l-2828 2828c-117,117 -307,117 -424,0l-354 -354c-117,-117 -117,-307 0,-424l2263 -2263z").arrow-arrow