#header {
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  background-color: #3b4044;
  z-index: 100; }
  @media screen and (min-width: 769px) {
    #header {
      background-color: #3b4044; } }

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 769px) {
    #navbar {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.mobile-hide {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 32px;
  height: 0;
  -webkit-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
  overflow: hidden; }
  @media screen and (min-width: 769px) {
    .mobile-hide {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      height: 48px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 0; } }
  @media screen and (min-width: 1201px) {
    .mobile-hide {
      height: 64px; } }

.pll-parent-menu-item a img {
  width: 16px;
  height: 11px; }

.pll-parent-menu-item .sub-menu {
  position: absolute; }

.lang-item {
  display: inline-block !important;
  vertical-align: top; }
  .lang-item a {
    padding: 0 8px !important;
    border-bottom: none !important; }
  .lang-item img {
    width: auto !important; }

#search_form {
  margin: 0 auto;
  text-align: center; }

#search_input, #search_button {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  color: #a0a0a0;
  line-height: 32px;
  height: 32px;
  font-size: 16px;
  border: 1px solid #a0a0a0;
  margin-bottom: 8px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 4px rgba(31, 57, 72, 0.2);
  box-shadow: 0 4px 4px rgba(31, 57, 72, 0.2); }
  @media screen and (min-width: 1201px) {
    #search_input, #search_button {
      margin: 16px 0; } }

#search_button {
  width: 32px;
  height: 34px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  background-color: rgba(16, 176, 202, 0.3);
  border-color: #0c879b;
  color: #1f3948;
  border-color: #0c879b;
  -webkit-transition: background-color .3s, color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, color .3s, -webkit-box-shadow .3s;
  -o-transition: background-color .3s, color .3s, box-shadow .3s;
  transition: background-color .3s, color .3s, box-shadow .3s;
  transition: background-color .3s, color .3s, box-shadow .3s, -webkit-box-shadow .3s; }
  #search_button:hover {
    background-color: #0c879b;
    color: #ebebeb;
    -webkit-box-shadow: 0 4px 4px rgba(18, 126, 155, 0.4);
    box-shadow: 0 4px 4px rgba(18, 126, 155, 0.4); }
    #search_button:hover i {
      color: #ebebeb; }
  #search_button i {
    display: block;
    color: #10b0ca;
    font-size: 16px;
    padding: 8px 0;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s; }

#search_input {
  background-color: whitesmoke;
  width: calc(100% - 80px);
  padding-left: 8px;
  border-top-right-radius: 0;
  color: #3b4044;
  border-bottom-right-radius: 0;
  border-right: none;
  -webkit-transition: background-color .3s, color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, color .3s, -webkit-box-shadow .3s;
  -o-transition: background-color .3s, color .3s, box-shadow .3s;
  transition: background-color .3s, color .3s, box-shadow .3s;
  transition: background-color .3s, color .3s, box-shadow .3s, -webkit-box-shadow .3s; }
  #search_input:hover {
    background-color: rgba(16, 176, 202, 0.1);
    -webkit-box-shadow: 0 4px 4px rgba(18, 126, 155, 0.4);
    box-shadow: 0 4px 4px rgba(18, 126, 155, 0.4); }
  @media screen and (min-width: 1201px) {
    #search_input {
      margin: 16px 0; } }

.search-label {
  display: block;
  font-family: "Roboto", sans-serif;
  width: calc(100% - 32px);
  font-size: 24px;
  color: #10b0ca; }
  @media screen and (min-width: 769px) {
    .search-label {
      font-family: "Cormorant Infant", serif;
      font-size: 48px; } }

#header-search {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  height: 48px; }
  @media screen and (min-width: 769px) {
    #header-search {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; } }

#header-search_input, #header-search_button {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 8px 0;
  font-size: 16px;
  height: 32px;
  line-height: 32px; }
  @media screen and (min-width: 1201px) {
    #header-search_input, #header-search_button {
      margin: 16px 0; } }

#header-search_button {
  width: 32px;
  background-color: #ebebeb;
  color: #10b0ca;
  -webkit-transition: color .3s, background-color .3s;
  -o-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
  #header-search_button:hover {
    background-color: #10b0ca;
    color: #ebebeb; }

#header-search_input {
  width: 128px;
  padding-left: 8px;
  background-color: #ebebeb;
  color: #10b0ca;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }
  @media screen and (min-width: 589px) {
    #header-search_input {
      width: 80px; } }
  @media screen and (min-width: 769px) {
    #header-search_input {
      width: 112px; } }
  @media screen and (min-width: 1201px) {
    #header-search_input {
      width: 128px; } }

#mainmenu {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3; }
  @media screen and (min-width: 769px) {
    #mainmenu {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 0;
      text-align: center; } }

#mainmenu ul {
  display: block;
  padding: 0; }

#mainmenu li {
  display: block; }
  #mainmenu li a {
    border-bottom: 1px solid #a0a0a0; }
  #mainmenu li:last-child a {
    border-bottom: 1px solid #3b4044; }
  @media screen and (min-width: 769px) {
    #mainmenu li {
      display: inline-block; }
      #mainmenu li a {
        border-bottom: none; }
      #mainmenu li:last-child a {
        border-bottom: none; } }

#mainmenu a {
  display: block;
  line-height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: left; }
  #mainmenu a:hover {
    background-color: #a0a0a0;
    color: #ebebeb; }
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    #mainmenu a {
      font-size: 16px;
      padding: 0 8px; } }
  @media screen and (min-width: 1201px) {
    #mainmenu a {
      font-size: 24px;
      padding: 0 16px;
      line-height: 64px; } }

.current-menu-item a {
  outline: none;
  text-shadow: 0 0 16px #10b0ca;
  color: #10b0ca;
  text-decoration: none; }

.mobile-show {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (min-width: 769px) {
    .mobile-show {
      margin: 0;
      height: 48px; } }

#menu_btn {
  display: block;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }
  @media screen and (min-width: 769px) {
    #menu_btn {
      display: none; } }

#logo {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

#logolink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  #logolink:hover * {
    fill: #10b0ca;
    color: #10b0ca; }

#logosvg {
  width: 44px;
  height: 48px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }
  @media screen and (min-width: 1201px) {
    #logosvg {
      width: 48px;
      height: 64px; } }

#logoname {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.logoname {
  display: inline-block;
  line-height: 48px;
  font-family: "Cormorant Infant", serif;
  font-size: 32px;
  color: #ebebeb;
  white-space: nowrap; }
  @media screen and (min-width: 1201px) {
    .logoname {
      line-height: 64px; } }
  @media screen and (min-width: 1601px) {
    .logoname {
      font-size: 40px; } }
