#footer {
	order: 3;
}
#firs {
	//height: $basic * 15;
	//outline: 1px dotted orange;
	background-color: $color-bg;
	padding-bottom: $basic * 7;
	background-image: url(../img/firs.svg);
	background-size: auto $basic * 6;
	background-position: center bottom;
	background-repeat: repeat-x;
	@media screen and (min-width: 769px) {
		background-size: auto $basic * 12;
		padding-bottom: $basic * 14;
	}
	@media screen and (min-width: 1201px) {
		background-size: auto $basic * 16;
		padding-bottom: $basic * 18;
	}
}
#req {
	//height: $basic * 8;
	background-color: $color-dark;
}

.smplst a {
	font-family: $font-regular;
	text-decoration: none;
	text-shadow: none;
	transition: color .2s, text-shadow .2s;
	color: $color-main;
	padding: 0;
	margin: 0;
	&:hover {
		color: $color-bg;
		text-decoration: none;
	}
	&:active {
		outline: none;
		text-shadow: 0 0 $basic/2 $color-main;
		color: $color-dark;
		text-decoration: none;
	}
}
