$basic: 16px;
$test: 1px dashed red;
$color-dark: #3b4044;
$color-dark-transparent: rgba(59,64,68,.7);
$color-main: #10b0ca;
$color-light: #c3c3c3;
$color-bg: #ebebeb;
$color-neutral: #a0a0a0;
$color-contrast: #da4453;
$font-heading: 'Cormorant Infant', serif;
$font-regular: 'Roboto', sans-serif;