#header {
	width: 100%;
	order: 1;
	background-color: $color-dark;
	z-index: 100; // over absolute positioned bars
	@media screen and (min-width: 769px) {
		background-color: rgb(59,64,68);
	}
}
#navbar {
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 769px) {
		flex-direction: row;
	}
}

// toggling part
.mobile-hide {
	order: 2;
	display: flex;
	flex-direction: column;
	margin: 0 $basic * 2;
	height: 0;
	transition: height .3s;
	overflow: hidden;
	@media screen and (min-width: 769px) {
		flex-direction: row;
		height: $basic * 3;
		flex-grow: 1;		
		margin: 0;
	}
	@media screen and (min-width: 1201px) {
		height: $basic * 4;
	}
}

.pll-parent-menu-item {
	& a img {
		width: 16px;
		height: 11px;
	}
	& .sub-menu {
		position: absolute;
	}
}
.lang-item {
	display: inline-block !important;
	vertical-align: top;
	& a {
		padding: 0 $basic / 2 !important;
		border-bottom: none !important;
	}
	& img {
		width: auto !important;
	}
}

#search {
	order: 2;
	height: $basic * 3;
	@media screen and (min-width: 769px) {
		order: 3;
	}
}
#search_form {
	margin: 0 auto;
	text-align: center;
}
#search_input, #search_button {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	color: $color-neutral;
	line-height: $basic * 2;
	height: $basic * 2;
	font-size: $basic;
	border: 1px solid $color-neutral;
	margin-bottom: $basic / 2;
	border-radius: $basic / 4;
	box-shadow: 0 4px 4px rgba(31,57,72,.2);
	@media screen and (min-width: 1201px) {
		margin: $basic 0;
	}
}
#search_button {
	width: $basic * 2;
	height: 34px;
	//padding: $basic / 2 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
	background-color: rgba(16,176,202,.3);
	border-color: darken($color-main, 10%);
  color: rgb(31,57,72);
	border-color: darken($color-main, 10%);
	transition: background-color .3s, color .3s, box-shadow .3s;
	&:hover {
    background-color: darken($color-main, 10%);
    color: $color-bg;
		box-shadow: 0 4px 4px rgba(18,126,155,.4);
		& i {
			color: $color-bg;
		}
	}
	& i {
		display: block;
		color: $color-main;
		font-size: $basic;
		padding: $basic / 2 0;
		transition: color .3s;
	}
}
#search_input {
	background-color: whitesmoke;
	width: calc(100% - 80px);
	padding-left: $basic / 2;
	border-top-right-radius: 0;
	color: $color-dark;
	border-bottom-right-radius: 0;
	border-right: none;
	transition: background-color .3s, color .3s, box-shadow .3s;
	&:hover {
    background-color: rgba(16,176,202,.1);
    box-shadow: 0 4px 4px rgba(18,126,155,.4);
  }
	@media screen and (min-width: 1201px) {
		margin: $basic 0;
	}
}
.search-label {
	display: block;
	font-family: $font-regular;
	width: calc(100% - 32px);
	font-size: $basic * 1.5;
	color: $color-main;
	@media screen and (min-width: 769px) {
		font-family: $font-heading;
		font-size: $basic * 3;
	}
}

#search-button--header {
	width: $basic * 2;
	height: $basic * 2;
	margin: $basic / 2 0;
	padding: $basic / 2;
	font-size: $basic;
	color: $color-neutral;
	transition: color .3s;
	&:hover {
		color: $color-bg;
	}
	@media screen and (min-width: 1201px) {
		font-size: $basic * 1.5;
		height: $basic * 3;
		width: $basic * 3;
	}
}

#mainmenu {
	order: 3;
	@media screen and (min-width: 769px) {
		order: 1;
		flex-grow: 1;
		margin: 0;
		text-align: center;
	}
}
#mainmenu ul {
	display: block;
	padding: 0;
}
#mainmenu li {
	display: block;
	& a {
		border-bottom: 1px solid $color-neutral;
	}
	&:last-child a {
		border-bottom: 1px solid $color-dark;
	}
	@media screen and (min-width: 769px) {
		display: inline-block;
		& a {
			border-bottom: none;
		}
		&:last-child a {
			border-bottom: none;
		}
	}
}
#mainmenu a {
	display: block;
	line-height: $basic * 3;
	font-family: $font-regular;
	font-size: $basic * 1.5;
	text-align: left;
	&:hover {
		background-color: $color-neutral;
		color: $color-bg;
	}
	@media screen and (min-width: 769px) and (max-width: 1200px) {
		font-size: $basic;
		padding: 0 $basic / 2;
	}
	@media screen and (min-width: 1201px) {
		font-size: $basic * 1.5;
		padding: 0 $basic;
		line-height: $basic * 4;
	}
}
.current-menu-item a {
	outline: none;
	text-shadow: 0 0 $basic $color-main;
	color: $color-main;
	text-decoration: none;
}

// always shown
.mobile-show {
	order: 1;
	margin: 0 $basic * 2;

	display: flex;
	flex-direction: row;
	@media screen and (min-width: 769px) {
		margin: 0;
		height: $basic * 3;
	}
}
#menu_btn {
	display: block;
	order: 2;
	@media screen and (min-width: 769px) {
		display: none;
	}
}

#logo {
	order: 1;
	flex-grow: 1;

	display: flex;
	flex-direction: row;
}
#logolink {
	display: flex;
	flex-direction: row;
	&:hover * {
		fill: $color-main;
		color: $color-main;
	}
}
#logosvg {
	width: $basic * 2.75;
	height: $basic * 3;
	order: 1;
	@media screen and (min-width: 1201px) {
		width: $basic * 3;
		height: $basic * 4;
	}
}
#logoname {
	order: 2;
}
.logoname {
	display: inline-block;
	line-height: $basic * 3;
	font-family: $font-heading;
	font-size: $basic * 2;
	color: $color-bg;
	white-space: nowrap;
	@media screen and (min-width: 1201px) {
		line-height: $basic * 4;
	}
	@media screen and (min-width: 1601px) {
		font-size: $basic * 2.5;
	}
}