#wrapper {
  width: 100%;
  min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

@import "header";


#main {
  order: 2;
  flex-grow: 1;
}
@import "topper";

@import "urgent";

@import "charity";

@import "map";

@import "footer";

#modal {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgba(255,255,255,0.5);
}
#modal-window {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  background: $color-bg;
  @media screen and (min-width: 721px) {
		width: 720px;
		height: auto;
    max-height: 80vh;
    left: 50%;
    top: 50%;
    transform: translatex(-50%) translatey(-50%);
  }
}

.section-heading {
	text-align: center;
	font-size: $basic * 3;
}

.container {
  width: calc(100% - 16px);
	margin: 0 auto;
  //outline: 1px dashed red;
	@media screen and (min-width: 769px) and (max-width: 1200px){
    width: 745px;
  }
  @media screen and (min-width: 1201px) and (max-width: 1600px){
    width: 960px;
  }
  @media screen and (min-width: 1601px) and (max-width: 1920px){
    width: 1420px;
  }
  @media screen and (min-width: 1921px) {
    width: 1600px;
  }
}
.fluid {
  display: block;
  // width: calc(100% - 16px);
	// margin: 0 $basic / 2;
  // margin: 0 $basic;
  //outline: 1px dashed orange;
  @media screen and (min-width: 589px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
	}
}
.fluid-item {
  display: block;
	text-align: center;
  width: 240px;
  margin: 0 auto;
  padding-bottom: $basic * 2;
  overflow-wrap: break-word;
  //outline: 1px dotted red;
  @media screen and (min-width: 481px) {
    width: 320px;
  }
  @media screen and (min-width: 589px) {
    width: fit-content;
    flex-basis: 180px;
    margin: 0 $basic/2;
    flex-grow: 1;
  }
  @media screen and (min-width: 769px) {
    margin: 0;
    padding: $basic * 2 $basic / 2;
  }
}
.smplst {
	list-style-type: none;
	& li {
		text-align: left;
	}
	& a {
		line-height: $basic * 2.5;
		@media screen and (min-width: 769px) {
			line-height: $basic * 1.5;
		}
	}
}

.lnkout {
	&::after {
		content:"\f08e";
		font-family: FontAwesome;
		padding: 0 $basic / 4;
		font-size: $basic/4*3;
		vertical-align: top;
	}
}
.requisits span {
  display: block;
  text-align: left;
}

