#wrapper {
  width: 100%;
  min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

@import "header";


#main {
  order: 2;
  flex-grow: 1;
}
@import "topper";

#feedback {
  @media screen and (min-width: 769px) {
		padding: $basic * 3 0;
	}
}

@import "urgent";

@import "charity";

@import "map";

@import "footer";

#modal {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgba(255,255,255,0.5);
}
#modal-window {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  background: $color-bg;
  @media screen and (min-width: 721px) {
		width: 720px;
		height: auto;
    max-height: 80vh;
    left: 50%;
    top: 50%;
    transform: translatex(-50%) translatey(-50%);
  }
}

.section-heading {
	text-align: center;
  font-size: $basic * 3;
  line-height: $basic * 6;
}

.container {
  width: calc(100% - 16px);
	margin: 0 auto;
  //outline: 1px dashed red;
	@media screen and (min-width: 769px) and (max-width: 1200px){
    width: 745px;
  }
  @media screen and (min-width: 1201px) and (max-width: 1600px){
    width: 960px;
  }
  @media screen and (min-width: 1601px) and (max-width: 1920px){
    width: 1420px;
  }
  @media screen and (min-width: 1921px) {
    width: 1600px;
  }
}
.fluid {
  display: block;
  // width: calc(100% - 16px);
	// margin: 0 $basic / 2;
  // margin: 0 $basic;
  //outline: 1px dashed orange;
  @media screen and (min-width: 589px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
	}
}
.fluid-item {
  display: block;
	text-align: center;
  width: 240px;
  margin: 0 auto;
  padding-bottom: $basic * 2;
  overflow-wrap: break-word;
  //outline: 1px dotted red;
  @media screen and (min-width: 481px) {
    width: 320px;
  }
  @media screen and (min-width: 589px) {
    width: fit-content;
    flex-basis: 180px;
    margin: 0 $basic/2;
    flex-grow: 1;
  }
  @media screen and (min-width: 769px) {
    margin: 0;
    padding: $basic * 2 $basic / 2;
  }
}
.smplst {
	list-style-type: none;
	& li {
		text-align: left;
	}
	& a {
		line-height: $basic * 2.5;
		@media screen and (min-width: 769px) {
			line-height: $basic * 1.5;
		}
	}
}

.lnkout li {
  text-align: left;
}
.lnkout a {
  line-height: $basic * 2.5;
  @media screen and (min-width: 769px) {
    line-height: $basic * 1.5;
  }
	&::after {
		content:"\f08e";
		font-family: FontAwesome;
		padding: 0 $basic / 4;
		font-size: $basic/4*3;
    vertical-align: top;
	}
}
.requisits span {
  display: block;
  text-align: left;
}

.line {
  display: block;
  text-align: left;
  line-height: 1.5 * $basic;
}
.tag {
  font-size: $basic * .75;
  line-height: $basic * .75;
  display: inline-block;
  padding: $basic / 4 $basic / 2;
  margin: 0 $basic / 8;
  background-color: $color-neutral;
  color: $color-bg;
  border-radius: $basic / 4;
}

.btn {
  display: inline-block;
  vertical-align: top;
	margin: $basic / 4;
	margin-bottom: $basic / 2;
  background-color: rgba(233,234,236,.3);
  color: $color-main;
  padding: 0 $basic;
  border-radius: $basic / 4;
  border: 1px solid $color-neutral;
  line-height: $basic * 2;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  transition: background-color .2s;
  &:hover {
    background-color: lighten($color-neutral, 10%);
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    color: $color-bg;
  }
  &:active {
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    background-color: darken($color-neutral, 10%);
    color: $color-bg;
  }
}
.btn-primary {
  background-color: rgba(31,57,72,.3);
  color: rgb(31,57,72);
  box-shadow: 0 4px 4px rgba(31,57,72,.2);
  border-color: $color-dark;
  &:hover {
    background-color: rgb(31,57,72);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(18,126,155,.4);
  }
  &:active {
    background-color: darken(rgb(31,57,72), 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(18,126,155,.4);
  }
}
.btn-danger {
  background-color: rgba(153,0,0,.3);
  color: $color-contrast;
  border-color: $color-contrast;
  box-shadow: 0 4px 4px rgba(153,0,0,.2);
  &:hover {
    background-color: lighten($color-contrast, 10%);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(153,0,0,.4);
  }
  &:active {
    background-color: darken($color-contrast, 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(153,0,0,.4);
  }
}
.btn-info {
  background-color: rgba(18,126,155,.3);
  color: $color-main;
  border-color: $color-main;
  box-shadow: 0 4px 4px rgba(18,126,155,.2);
  cursor: help;
  &:hover {
    background-color: lighten($color-main, 10%);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(18,126,155,.4);
  }
  &:active {
    background-color: darken($color-main, 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(18,126,155,.4);
  }
}
.btn-success {
  background-color: rgba(0,132,15,.3);
  color: rgb(0,132,15);
  border-color: rgb(0,132,15);
  box-shadow: 0 4px 4px rgba(0,132,15,.2);
  &:hover {
    background-color: lighten(rgb(0,132,15), 10%);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(0,132,15,.4);
  }
  &:active {
    background-color: darken(rgb(0,132,15), 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(0,132,15,.4);
  }
}
.btn-attention {
  background-color: rgba(220,140,0,.3);
  color: rgb(220,140,0);
  border-color: rgb(220,140,0);
  box-shadow: 0 4px 4px rgba(220,140,0,.2);
  &:hover {
    background-color: lighten(rgb(220,140,0), 10%);
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(220,140,0,.4);
  }
  &:active {
    background-color: darken(rgb(220,140,0), 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(220,140,0,.4);
  }
}
.btn-disabled {
  background-color: rgba(233,234,236,.5);
  color: $color-neutral;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  cursor: not-allowed;
  &:hover, &:active {
    background-color: rgba(233,234,236,.5);
    color: $color-neutral;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    cursor: not-allowed;
  }
}

.img-article {
  width: calc(100% - 24px);
  margin: $basic / 4 * 3;
}
.thumb {
  width: calc(100% - 24px);
  margin: $basic / 2;
  border-width: $basic / 2;
  border-style: solid;
  border-color: white;
  box-shadow: 0 0 $basic/2 rgba(0,0,0,.3);
}
.thumb-320 {
  width: 288px;
}

.detailed {
  display: block;
  background-color: darken($color-bg, 5%);
  & span {
    display: inline-block;
    vertical-align: top;
    padding: $basic / 4 $basic / 2;
    color: $color-neutral;
  }
}