#map {
	@media screen and (min-width: 769px) {
		padding: $basic * 3 0;
	}
}

.map-container {
	width: 100%;
	height: 80vh;
	// TEMPORAL IMPASTE/////////////////////////
	background-image: url(../img/mappa.jpg);  //
	background-size: cover;                   //
	background-position: center center;       //
	////////////////////////////////////////////
}