//Modifiers
.noscroll {
  overflow-y: hidden;
}
.scroll {
  overflow-y: auto;
}
.menuheight {
  height: 292px;
}


// colors depending on section bg
.bg-dark {
  background-color: $color-dark;
  color: $color-neutral;
  & span {
    color: $color-bg;
  }
  & h3 {
    color: $color-bg;
  }
  & p {
    color: $color-neutral;
  }
}
.bg-light {
  background-color: $color-bg;
  color: $color-neutral;
  & span {
    color: $color-dark;
  }
  & h3 {
    color: $color-dark;
  }
  & p {
    color: $color-neutral;
  }
}

.hidden {
  display: none;
}

// WP overwritings
.pagination {
  display: block;
  text-align: center;
  margin-top: $basic;
  padding-top: $basic / 2;
  border-top: 1px dashed darken($color-bg, 10%);
}
.page-numbers {
  display: inline-block;
  vertical-align: top;
  font-size: $basic;
  //line-height: $basic * 1.75;
  padding: $basic / 4 $basic / 2;
  //background-color: darken($color-bg, 10%);
  border-radius: $basic / 4;
  margin: $basic / 4;
  border: 1px solid $color-main;
}

.current {
  color: $color-bg;
  background-color: $color-main;
  border: 1px solid $color-main;
}