//Modifiers
.noscroll {
  overflow-y: hidden;
}
.scroll {
  overflow-y: auto;
}
.menuheight {
  height: 292px;
}


// colors depending on section bg
.bg-dark {
  background-color: $color-dark;
  color: $color-neutral;
  & span {
    color: $color-bg;
  }
  & h3 {
    color: $color-bg;
  }
  & p {
    color: $color-neutral;
  }
}
.bg-light {
  background-color: $color-bg;
  color: $color-neutral;
  & span {
    color: $color-dark;
  }
  & h3 {
    color: $color-dark;
  }
  & p {
    color: $color-neutral;
  }
}

.hidden {
  display: none;
}
.hide {
  height: 0 !important;
}

// WP overwritings
.page-numbers {
  display: inline-block;
  vertical-align: top;
  font-size: $basic;
  //line-height: $basic * 1.75;
  padding: $basic / 4 $basic / 2;
  //background-color: darken($color-bg, 10%);
  border-radius: $basic / 4;
  margin: $basic / 4;
  border: 1px solid $color-main;
}
.current {
  color: $color-bg;
  background-color: $color-main;
  border: 1px solid $color-main;
}

// COMMENTS SECTION
.comments-list {
  border-bottom: 1px dashed $color-neutral;
}
img.avatar {
  display: none;
  @media screen and (min-width: 589px) {
    display: inline-block;
    width: 32px;
    height: 32px;
  }
  @media screen and (min-width: 769px) {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}
.comment-title, .comment-title * {
  font-size: $basic * 2;
  line-height: $basic * 3;
  @media screen and (min-width: 769px) {
    font-size: $basic * 2.5; 
    line-height: $basic * 3;
  }
}
.comment {
  padding: $basic / 2;
  @media screen and (min-width: 589px) {
    padding-top: $basic;
  }
  //border: 1px solid darken($color-bg, 15%);
}

.parent {
  border: 1px solid darken($color-bg, 10%);
  overflow: hidden;
  margin-bottom: $basic;
  @media screen and (min-width: 769px) {
    border: 1px solid darken($color-bg, 5%);
  }
}
#comments .children {
  margin-left: $basic / 4;
  border-left: $basic / 6 solid $color-main;
  overflow: hidden;
  @media screen and (min-width: 589px) {
    margin-left: $basic / 2;
    border-left: $basic / 4 solid $color-main;
  }
  @media screen and (min-width: 769px) {
    margin-left: $basic;
    box-shadow: 0 0 $basic rgba(0,0,0,.1);
  }
  // &::before {
  //   content: '\f0a9';
  //   font-family: FontAwesome;
  //   font-size: $basic;
  //   color: $color-main;

  // }
}
.depth-1 {
  //background-color: darken($color-bg, 5%);
}
.depth-2 {
  //background-color: darken($color-bg, 5%);
  //border: 1px solid darken($color-bg, 10%);
}
.depth-3 {
  //background-color: darken($color-bg, 7%);
  //border: 1px solid darken($color-bg, 15%);
}
.even {
  background: rgba(220,220,220,0.5);
}
.odd {
  background: rgba(220,220,220,0);
}
.vcard img {
	width: auto;
}
.vcard span, .vcard cite {
  display: inline-block;
  font-family: $font-regular;
  font-size: $basic * 1.25;
  //padding: $basic / 6;
  //line-height: $basic * 3;
  color: $color-main;
  font-style: normal;
  font-weight: 700;
  vertical-align: top;
  @media screen and (min-width: 589px) {
    font-size: $basic * 1.25;
    padding: $basic * .375 0;
  }
  @media screen and (min-width: 769px) {
    font-size: $basic * 1.5;
    padding: $basic * .75 0;
  }
  
}
.vcard cite {
  padding-left: 0;
  @media screen and (min-width: 589px) {
    padding-left: $basic;
  }
}
#comments p {
  margin: $basic / 2;
  font-size: $basic;
  @media screen and (min-width: 769px) {
    margin: $basic;
    font-size: $basic * 1.25;
  }
}

#respond p {
  text-indent: 0;
}

.reply {
  padding: $basic / 2 0;
}
.comment-reply-link {
  display: inline-block;
  padding: $basic / 4 $basic;
  background: $color-bg;
  border: 1px solid $color-main;
  color: $color-main;
  border-radius: $basic / 4;
  transition: color .3s, background .3s;
  &:hover {
    background: $color-main;
    color: $color-bg;
  }
  &:active {
    background: darken($color-main, 5%);
    color: $color-bg;
  }
}
.comment-reply-title {
  margin-top: $basic * 1.5;
}
.logged-in-as, .comment-form-comment, .form-submit {
  text-indent: 0;
}
#comments label {
  display: block;
  color: $color-neutral;
}

#submit {
  display: inline-block;
  padding: $basic / 2 $basic;
  background: $color-bg;
  border: 1px solid $color-main;
  color: $color-main;
  border-radius: $basic / 4;
  transition: color .3s, background .3s;
  &:hover {
    background: $color-main;
    color: $color-bg;
  }
  &:active {
    background: darken($color-main, 5%);
    color: $color-bg;
  }
}
#comment {
  display: block;
  width: 100%;

}
.required {
  color: $color-contrast;
}

#author, #email, #url {
  display: inline-block;
  padding: $basic / 4;
}

.testbox {
  outline: 1px dashed red;
}

.subactions {
  align: right;
  text-align: right;
  padding: 0 $basic / 2 $basic $basic / 2;
  & .btn-primary {
    color: $color-bg;
  }
}