#pagetop {
	@media screen and (min-width: 769px) {
		background-color: darken($color-bg, 5%);
	}
}

.pagetitle {
	font-size: $basic * 3;
	line-height: $basic * 4;
	text-align: center;
	@media screen and (min-width: 769px) {
		text-align: left;
		font-size: $basic * 4;
		line-height: $basic * 6;
		padding-top: $basic * 6;
	}
}
.subheading {
	text-indent: 0;
	color: $color-neutral;
	font-size: $basic * 1.25;
	line-height: $basic * 2;
	text-align: center;
	padding: 0;
	margin: 0;
	padding-bottom: $basic;
	@media screen and (min-width: 589px) {
		padding-bottom: $basic * 2;
	}
	@media screen and (min-width: 769px) {
		font-size: $basic * 1.5;
		text-align: left;
	}
}

.metabox {
	display: none;
	@media screen and (min-width: 589px) {
		display: inline-block;
		vertical-align: top;
		transform: translateY(-50%);
		border-radius: $basic / 2;
		overflow: hidden;
		box-shadow: 0 0 $basic / 2 rgba(0,0,0,.4);
	}
}
.metabox-home, .metabox-main {
	padding: $basic/2 $basic;
	font-size: $basic;
	line-height: $basic * 2;
}
.metabox-home {
	color: $color-bg;
	background-color: $color-main;
}
.metabox-main {
	color: $color-bg;
	background-color: $color-neutral;
}

#content-box {
	display: flex;
	flex-direction: row;
}
.page-navigation {
	order: 2;
	flex-basis: 180px;
	flex-grow: 0;
	flex-shrink: 0;
}
.content-posts {
	order: 1;
	flex-grow: 1;
}

.page-navigation {
	margin-bottom: $basic;
	margin-left: $basic;
	border-radius: $basic / 2;
	overflow: hidden;
	box-shadow: 0 0 $basic / 2 rgba(0,0,0,.4);
}
.page-navigation-home, .page-navigation-box li a {
	display: block;
	padding: $basic / 2 $basic;
	color: $color-bg;
}
.page-navigation-home {
	background-color: $color-main;
}
.page-navigation-box li a {
	text-indent: $basic;
	background-color: $color-neutral;
	border-bottom: 1px solid lighten($color-neutral, 10%);
}


.foster {
	padding: $basic / 2;
	border: 1px solid lighten($color-neutral, 20%);
	background-color: darken($color-bg, 2%);
	border-radius: $basic;
}
.foster-container {
	display: block;
	@media screen and (min-width: 769px) {
		display: flex;
		flex-direction: row;
	}
}
.foster-left {
	flex-basis: 240px;
	flex-shrink: 0;
	flex-grow: 0;
}
.foster-right {
	flex-grow: 1;
}
.foster-img {
	width: 240px;
	height: 240px;
	background-image: url(../img/cat-shake-hands.jpg);
	background-position: center;
	background-size: cover;
}
.foster-bottom {
	text-align: right;
	border-top: 1px solid lighten($color-neutral, 20%);
}