#urgent {
	@media screen and (min-width: 769px) {
		padding: $basic * 3 0;
	}
}

.bg-urgent {
  color: $color-neutral;
  & span {
    color: $color-contrast;
  }
  & h2 {
    color: $color-contrast;
  }
  & p {
    color: $color-neutral;
  }
}

.urgent-btn {
	display: block;
	margin: $basic auto;
	background: $color-contrast;
	color: $color-bg;
	line-height: $basic;
	padding: $basic / 2 $basic * 2;
	border-radius: $basic / 4;
}


.urgent-container {
	display: flex;
	flex-direction: row;
}
.urgent-center {
	flex-grow: 1;
}
.urgent-left, .urgent-right {
	flex-basis: $basic * 4;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
}
.urgent-post_carousel {
	position: relative;
}
.urgent-post_img {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	background: $color-neutral;
	@media screen and (min-width: 769px) {
		padding-bottom: 75%;
	}
	@media screen and (min-width: 1201px) {
		padding-bottom: 56.25%;
	}
}
.image-inside {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(../img/cat-shake-hands.jpg);
	background-size: cover;
	background-position: center center;
}
//.urgent-post_heading {}
//.urgent-post_descr {}