svg(xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 10000 10000")#arrow-left.arrow
	path(d="M4540 5000l2263 -2263c117,-117 117,-307 0,-424l-354 -354c-117,-117 -307,-117 -424,0l-2828 2828c-117,117 -117,307 0,424l2828 2828c117,117 307,117 424,0l354 -354c117,-117 117,-307 0,-424l-2263 -2263z").arrow-arrow