header#header
	nav#navbar.container
		.mobile-hide
			//- #lang
				//- select#lang_select
				//- 	option(selected)#en EN
				//- 	option#ru RU
				//- 	option#lt LT
			#header-search
				form(action="")#header-search_form
					input(type="text")#header-search_input
					button(type="submit")#header-search_button
						i.fa.fa-search
			#mainmenu
				ul
					li.current-menu-item
						a(href="#" target="_self") About us
					li
						a(href="##" target="_self") Fosterlings
					li
						a(href="###" target="_self") Charity
					li
						a(href="####" target="_self") Articles
		.mobile-show
			#menu_btn
				button(type="button")
					include _menu_btn
			#logo
				a(href="#####" target="_self")#logolink
					#logosvg
						include _logo
					#logoname
						span.logoname Padėk Man