<!DOCTYPE html>
//- defLang="ru"
html(lang="en") 
	include _head
	body
		include _mixins
		#wrapper
			include _header
			main#main
				include _pagetop
				section#content
					.container
						.metabox
							a(href="#").metabox-home #[i(aria-hidden="true").fa.fa-home] Back to Home
							span.metabox-main Our fosterlings
						#content-box
							aside
								.page-navigation
									a(href="#" tagret="_self").page-navigation-home #[i(aria-hidden="true").fa.fa-chevron-circle-down] Fosterlings
									ul.page-navigation-box
										li.page_item 
											a(href="#") marena
										li.page_item 
											a(href="#") Thanks to GULP
										li.page_item 
											a(href="#") WaЯЯЯЯЯ
										li.page_item 
											a(href="#") What a thriling story
								.page-navigation
									form(action="get").filters
										label.filter-group Animal type:
											.control-group
												input(type="checkbox" name="type" value="cat" id="catCheckBox")
												label(for="catCheckBox") cats
												br
												input(type="checkbox" name="type" value="dog" id="dogCheckBox")
												label(for="dogCheckBox") dogs
												br
										label.filter-group Animal's sex:
											.control-group
												input(type="checkbox" name="sex" value="male" id="maleCheckBox")
												label(for="maleCheckBox") male
												br
												input(type="checkbox" name="sex" value="female" id="femaleCheckBox")
												label(for="femaleCheckBox") female
												br
										label.filter-group Is animal castrated?
											.control-group
												input(type="checkbox" name="castrated" value="true" id="castratedCheckBox")
												label(for="castratedCheckBox") castrated
										button(type="submit").btn.btn-primary.btn-filter Filter
							.content-posts
								//- start of teaser
								.fosterling
									.fosterling-teaser
										a(href="#" target="_self").fosterling-img
											img(src="img/cat-shake-hands.jpg", alt="pug")
											.fosterling-data
												.icon-holder.icon-teaser
													.mammal-family
														svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10000 10000")
															path(style="fill:#ebebeb" d="M6896 7220c-315,0 -451,170 -538,-329 -294,-2089 -2421,-2090 -2715,0 -90,515 -236,329 -538,329 -1140,0 -1140,2022 0,2022 709,0 671,-830 1012,-452 567,567 1214,651 1767,0 350,-350 332,452 1012,452 1228,0 996,-2022 0,-2022zm1686 -3353c574,164 634,1333 308,2062 -327,729 -883,864 -1258,739 -499,-166 -748,-813 -374,-1702 346,-821 654,-1291 1324,-1099zm-7163 0c-574,164 -634,1333 -308,2062 327,729 883,864 1258,739 499,-166 748,-813 374,-1702 -346,-821 -654,-1291 -1324,-1099zm2210 -2625c-840,5 -1126,1042 -953,2041 174,999 696,1171 1231,1086 747,-119 846,-815 795,-1603 -55,-844 -375,-1527 -1073,-1523zm2742 0c840,5 1126,1042 953,2041 -174,999 -696,1171 -1231,1086 -747,-119 -846,-815 -795,-1603 55,-844 375,-1527 1073,-1523z")
													.mammal-sex
														svg(xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 10000 10000")
															path(style="fill:#ebebeb" d="M5000 1000c724,0 1380,294 1854,768 475,475 768,1130 768,1854 0,724 -294,1380 -768,1854 -412,412 -960,687 -1571,753l0 1089 987 0c89,0 162,73 162,162l0 225c0,89 -73,162 -162,162l-987 0 0 970c0,89 -73,162 -162,162l-242 0c-89,0 -162,-73 -162,-162l0 -970 -987 0c-89,0 -162,-73 -162,-162l0 -225c0,-89 73,-162 162,-162l987 0 0 -1089c-611,-66 -1159,-341 -1571,-753 -475,-475 -768,-1130 -768,-1854 0,-724 294,-1380 768,-1854 475,-475 1130,-768 1854,-768zm1396 1227c-357,-357 -851,-578 -1396,-578 -545,0 -1039,221 -1396,578 -357,357 -578,851 -578,1396 0,545 221,1039 578,1396 357,357 851,578 1396,578 545,0 1039,-221 1396,-578 357,-357 578,-851 578,-1396 0,-545 -221,-1039 -578,-1396z")
												//-span Jun 2018
										.fosterling-info
											span.fosterling-status.newbie-post.hidden Newbie
											span.fosterling-status.adopted-post.hidden Adopted
											span.fosterling-status.urgent-post Urgent help
											h3.fosterling-name Lucy
											p.fosterling-story Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur accusantium expedita enim blanditiis voluptates at iste nemo quam assumenda! Quibusdam dolore delectus eum modi amet in voluptatibus, incidunt odio perferendis a repudiandae libero inventore velit blanditiis recusandae aperiam iure deserunt nam laboriosam corporis quisquam maiores molestias maxime! Recusandae repudiandae consequatur, sit officiis nobis saepe unde expedita fugiat sed laborum, corporis accusantium quo eum doloremque beatae consequuntur sint! Obcaecati voluptates veritatis praesentium excepturi error velit aspernatur, facilis earum quibusdam a, saepe vero provident doloremque rem, voluptatum explicabo nemo. Quidem dolor omnis facilis. Quae facere ea est amet maxime quis atque architecto.
											.fosterling-options
												hr
												a(href="#").btn.btn-primary More about Lucy &raquo;
									.fosterling-contact.hidden
										h4.fosterling-contacts-heading Contact us:
										hr
										h5.fosterling-contacts-heading By phone:
										.contact-option
											.contact-option-left
												span tel. (RU/LT):
											.contact-option-right
												span +370 67 615 359
										h5.fosterling-contacts-heading By e-mail:
										.contact-option
											.contact-option-left
												span leave your e-mail address and your question (RU/EN/LT)
											.contact-option-right
												input(type="email" size="30" placeholder="the.user@email.com" required)
												textarea(rows="4" placeholder="your message (400 words max)...")
												button(type="button" required).btn Send email &raquo;
										h5.fosterling-contacts-heading Leave a comment:
										.contact-option
											.contact-option-left
												span leave your comment #[br](it will be shown after moderation)#[br](RU/EN/LT)
											.contact-option-right
												input(type="text" size="30" placeholder="Nickname" required)
												textarea(rows="4" placeholder="your message (400 words max)...")
												button(type="button" required).btn Leave comment
			include _footer
			//- #modal
			//- 	#modal-window
			//- 		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quis!
		include _scripts