<!DOCTYPE html>
html(lang="en")
	include _head
	body
		include _mixins
		#wrapper
			include _header
			main#main
				include _topper
				include _feedback
				include _urgent
				include _last-found
				include _charity
				include _map
			include _footer
			//- #modal
			//- 	#modal-window
			//- 			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quis!
		include _scripts